extends layout/_layout

block content
	.content
		.main-content
			.snippets-list
				.snippets
					h2.snippets__title Codepen
					ul.snippets-codepen
				.snippets
					h2.snippets__title CssDeck
					ul.snippets-cssdeck

